@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-25 {
    border-radius: 25px;
  }
.rounded-button {
    border-radius: 20px;
  }
  
  .carousel-slide {
    width: 100%;
  }
  
  .carousel-image {
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 300px; /* Defina uma altura máxima conforme necessário */
    object-fit: contain; /* Mantém a proporção da imagem sem cortar */
  }
  
  